NEXT_PUBLIC_SUPABASE_URL=https://oldgjjdaactriwneutwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9sZGdqamRhYWN0cml3bmV1dHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MDUxODMsImV4cCI6MjA4ODI4MTE4M30.MvD4b7eOy8qhUArsYaFMmljLfVqJDHaredVXwXyoMaI

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9sZGdqamRhYWN0cml3bmV1dHdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjcwNTE4MywiZXhwIjoyMDg4MjgxMTgzfQ.rLRHXpkGaJhetVuMKH9j3AJzt8tZzrDbX1NdDlOswYs
SUPABASE_STORAGE_BUCKET=user-files
